/*Font for whole page*/
body {
  font-family: "Tilt Neon";
}

/*Background for main content*/
main {
  background-color: rgb(160, 235, 158);
}

/*Styles for heading*/
header {
    background-image: linear-gradient(to bottom, rgba(56, 55, 55, 0.55), rgba(56, 55, 55, 0.55)), url("images/ilya-pavlov-XPT-OtA0E-8-unsplash.jpg");
    background-size: cover;
    background-position-y: bottom;
    height: 300px;
  }

  header h1, h2 {
    color: rgb(160, 235, 158);
    margin-left: 20px;
  }

  header h1 {
    margin-bottom: 20px;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .headertext {
    position: absolute;
    top: 20%;
  }

  li {
    display: inline;
    margin-right: 30px;
  }

  nav a {
    color: rgb(160, 235, 158);
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
  }

  nav > ul > li {
    list-style: none;
  }

  /*Styles for introduction text and image*/
  #articleintro {
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 40px;
    padding-top: 20px;
    font-size:larger;
    line-height: 1.8;
  }

  #pintro{
    padding-left: 15px;
    padding-right: 25px;
  }

  /*Styles for main sections*/
  section {
    padding-bottom: 30px;
  }

  /*Styles for bonus*/
  #bonus {
    border-radius: 50%;
  }

  .libonus {
    font-size: x-large;
  }

  /*Styles for footer*/
  footer {
    height: 70px;
    background-color: rgb(61, 53, 53);
    color: white;
  }

  /*Media queries*/
  @media (max-width:490px) {
    li {
      margin-right: 10px;
      font-size: small;
    }
    footer {
      display:flex;
      flex-wrap: wrap;
      text-align: center;
      flex: 100%;
    } 
    footer h6 {
      font-size: smaller;
    }
  }